<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/artists/new"></a>ADD artist</a>
        <a href="/artists">All artists</a>
    </nav>
    <h2>Enter new "GOAT"</h2>
<form action ="/artists" method="POST">
<label>Decade:
    <input type="text" name ="decade">
</label><br>
<label>Artist:
    <input type="text" name="artist">
</label><br>
    <input type="submit" value="Add artist">
</form>
</body>
</html>
